@import "./styles/navbar.scss";
@import "./styles/banner.scss";
@import "./styles/row.scss";


// Genaral Classes
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-indicator{
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}